body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculater{
    width: 400px;
    background-color: hsl(0, 0%, 10%);
    overflow: hidden;
    border-radius: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 10px;
}
input{
     width: 100%;
     height: 80px;
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: white;
    font-size: 50px;
    font-weight: 600;

}
button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 30%);
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
button:hover{
  background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 60%);
  }


.symbols{
    background-color: hsl(35,100%,50%);
}
.symbols:hover{
    background-color: hsl(35,100%,65%);
}

.symbols:active{
    background-color: hsl(35,100%,75%);
}
h1{
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}